*
!.gitignore


!fastfetch/
!fastfetch/**

!fcitx5/
!fcitx5/conf/
!fcitx5/conf/classicui.conf

!hypr/
!hypr/**

!kitty
!kitty/**

!waybar/
!waybar/**

!wlogout/
!wlogout/**

!zsh
!zsh/**

!chrome-flags.conf
!code-flags.conf

!.zshrc
